<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <property name="log_dir" value="./log"/>
    <property name="maxHistory" value="60"/>
    <property name="DATETIME" value="yyyy-MM-dd HH:mm:ss"/>
    <property name="home" value="./log"/>
    <property name="minIndex" value="1"/>
    <property name="maxIndex" value="3"/>
    <property name="maxSize" value="20MB"/>
    <property name="charset" value="UTF-8"/>
    <property name="totalSize" value="2GB"/>
    <property name="pattern" value="%d [%t] %-5p %replace(%caller{1}){'\\s|Caller|\\+0|at', ''}- %msg%n"/>
    <property name="outPattern" value="%d{HH:mm:ss} [%t] %-5p %replace(%caller{1}){'\\s|Caller|\\+0|at', ''}- %msg%n"/>


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>%d{${DATETIME}} [%thread] %-5level %logger -%msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

</configuration>
