<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aegis.template.mapper.UserMapper">
    <select id="selectAll2" resultType="User">
       select * from mp_user ${ew.customSqlSegment}
    </select>

    <select id="selectAll3" resultType="User">
       select * from mp_user
       <where>
           deleted = 0
       </where>
    </select>
</mapper>
